.board{
  display: flex;
}

.draggable{
  padding: 10px;
  background: #2A3442;
  overflow-y: scroll;
  min-width: 250px;
}

.avatar{
  height: 30px;
  width: 30px;
  border: 3px solid white;
  border-radius: 50%;
}

.card-header{
  font-weight: 500;
}

.author{
  display: flex;
  align-items: center;
}

.card-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-item{
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #202832;
  color: #FFFFFF;
  margin: 0 0 8px 0;
  display: grid;
  grid-gap: 20px;
  flex-direction: column;
}

.container{
  padding: 20px;
  overflow-x: scroll;
  max-height: 80vh;
  display: flex;
  max-width: 85vw;
}

.list-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.column-header{
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  font-weight: 800;
  background-color: #677E9E;
  padding: 5px 10px 5px 10px;
}