@import url(./../../../index.css);

.addidea-iconbtn {
  border: 2px solid white;
  background-color: var(--white-color-15);
  height: 30px;
  padding-right: 20px;
  color: white;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
}

.addidea-icon {
  height: 20px;
  width: 20px;
  color: white;
  text-align: left;
  margin-right: 10px;
  margin-left: 5px;
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addidea-iconbtn:hover {
  background-color: var(--white-color-40);
}
