@import url(./../../index.css);

.text-input {
  width: 468px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 36px;
  color: var(--primary-color);
  margin-bottom: 15px;
  padding-left: 10px;
  border: solid var(--grey-color-80) 1px;
}

::placeholder {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
