@import url(./../index.css);

.article {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.img-list {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 50%;
}

.footerarticle-btns {
  display: flex;
  justify-content: center;
  width: 82%;
}

.article-table {
  height: 400;
  width: 1260px !important;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

.css-1nytev6-MuiDataGrid-root {
  border: none !important;
}

.element.style {
  width: 1200px;
}
