@import url(./../index.css);

.idea {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.img-list {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 50%;
}

.footeridea-btns {
  display: flex;
  justify-content: space-between;
  width: 47%;
}

.idea-table {
  height: 400;
  width: 80%;
}
