@import url(../../../index.css);

.save-job-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  outline: 0 !important;
  align-items: center;
  cursor: pointer;
  border: none;
}

.check-icon {
  background-color: transparent;
  color: #7bcca0;
}

.check-icon:hover {
  height: 20px;
  width: 20px;
}
