@import url(./../../index.css);

.tags-user-input {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  min-height: 15 px;
  border: 1px solid var(--grey-color-40);
  border-radius: 3px;
  padding: 5px;
}

#labels {
  display: flex;
  margin: 3px;
  padding: 0;
}

.single-tag {
  padding: 3px;
  border: 1px solid gray;
  height: 20px;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 14px;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 2px 5px 2px 0px;
}

input {
  outline: transparent;
  flex: 1;
  border: none;
  height: 30px;
  font-size: 14px;
  padding: 4px 0 0 0;
  align-items: center;
}

.remove-tag-icon {
  margin-left: 3px;
  vertical-align: middle;
}
