@import url(./../../index.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tags-content {
  display: flex;
  align-items: center;
  height: fit-content;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--white-color);
  border-radius: 7px;
  color: var(--primary-color-60);
  cursor: pointer;
}

.tag {
  padding: 5px;
  border: 1px solid #000;
  background: #e0e0e0;
  display: flex;
  align-items: center;
}

.tag .remove-tag {
  margin: 3px;
  color: #ff0000;
  cursor: pointer;
}

.tags-content input {
  border: 0;
  padding: 10px;
}

.tags-input {
  position: relative;
  background-color: red;
}
.tags-suggestions {
  border: 1px solid;
  padding: 5px;
  position: absolute;
  top: 45px;
  bottom: 0px;
  height: fit-content;
  width: 100%;
}

.suggestion-item {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 0;
  background: grey;
}

.placeholder {
  font-size: 12;
}
