@import url(./../../../index.css);

.popup-page {
  position: fixed;
  left: 200px;
  top: 0px;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: var(--primary-color-60);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.popup {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -200px;
}

.idea-container {
  border: 1px solid black;
  max-width: 1010px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--white-color);
}

/* left coloum  */

.idea-flex-left {
  width: 650px;
  flex: 1;
  padding: 30px;
}

.rich-text-editor {
  background-color: var(--primary-color);
  height: 218px;
  width: 590px;
  margin-bottom: 30px;
}

.align-bottons {
  display: flex;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
}

.convert-button {
  margin-right: 20px;
}

/* right coloum */

.idea-flex-right {
  background-color: var(--light-grey);
  width: auto;
  flex: 2;
  padding: 30px;
}

.top-right {
  display: flex;
  justify-content: flex-end;
}
