@import url(../../index.css);

.comment-container {
  display: flex;
  margin-left: -20px;
}

.test_test_img {
  margin: 2px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.comment {
  display: flex;
  width: 294px;
  cursor: pointer;
  border-radius: 7px;
  color: var(--primary-color-60);
  background-color: var(--white-color);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.05);
  margin-left: 20px;
  margin-bottom: 10px;
}

.comment-text-container {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
}

.comment-author {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}

.comment-image-container {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 2px;
}

.image-user-comment {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.ant-list-items {
  height: 146px;
  overflow-y: scroll;
}
