@import url(./../../index.css);

.footer-container {
  background-color: var(--accented-color);
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 50px;
}
