@import url(./../../index.css);

.footer-container {
  grid-area: footer-element;
  background-color: var(--accented-color);
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}
