@import url(./../../index.css);

.footer-container {
  background-color: var(--accented-color);
  height: 105px;
  width: 100%;
}

.footer-main {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
