@import url(./../../index.css);

.text-editor {
  height: 218px;
  width: 590px;
  margin-bottom: 40px;
}

.ck-editor__editable_inline {
  height: 200px;
}

.ck .ck-editor__main > .ck-editor__editable {
  background: #fff;
  border: solid var(--grey-color-80) 1px;
}

.ck .ck-editor__main > .ck-editor__editable.ck-read-only {
  background: #c3c3c3;
}
