@import url(../../../index.css);

.save-comment-btn {
  background-color: var(--white-color);
  display: flex;
  width: 25px;
  outline: 0 !important;
  align-items: center;
  cursor: pointer;
  height: 38px;
  border: none;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 4px 8px 2px rgb(0 0 0 / 5%);
}

.check-icon {
  background-color: var(--white-color);
  height: 20px;
}

.check-icon:hover {
  height: 20px;
  width: 20px;
}
