.app-content {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 105px;
  grid-template-areas:
    "nav-element main-content"
    "logout-element footer-element";
}

.nav-container {
  grid-area: nav-element;
}

.main-content {
  grid-area: main-content;
}

.logout-container {
  grid-area: logout-element;
}

.footer-container {
  grid-area: footer-element;
}
