body {
  margin: 0;
  padding: 1;
}

/* Main Headers */
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}

h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
}

/* Text */
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-color);
}

/*  */
.column-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}

.card-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-color);
}

.card-identification{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--primary-color);
}
