@import url(./../../index.css);

.nav-container{
    background-color: var(--primary-color);
    width: 200px;
    height: 795px;
    color: #FFFFFF;
    text-align: left; 
}

ul{
    list-style-type: none;
    padding: 20px 0 0 20px
}

li{
    padding-top: 10px;
}

li a{
    font-family: 'Poppins';
    color:#FFFFFF;
    text-decoration: none;
}

li a:hover{
    color: var(--accented-color);
}

.dashboard-icon{
    padding-right: 10px; 
    vertical-align: middle;
}

.articles-icon{
    padding-right: 10px; 
    vertical-align: middle;
}

.ideas-icon{
    padding-right: 10px; 
    vertical-align: middle;
}

.teamplan-icon{
    padding-right: 10px; 
    vertical-align: middle;
}

